<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">NCVS</h3>
    <nav class="nav nav-masthead">
      <%= link_to "Home", root_path, class: 'nav-link' %>
      <%= link_to "Advocacy", advocacy_path, class: 'nav-link' %>
      <%= link_to "Treatment", treatment_path, class: 'nav-link' %>
      <%= link_to "Training", training_path, class: 'nav-link' %>
      <%= link_to "Research", research_path, class: 'nav-link' %>
      <%= link_to "Media", portfolios_path, class: 'nav-link' %>
      <%= link_to "About", about_path, class: 'nav-link' %>
      <%= link_to "Contact", contact_path, class: 'nav-link' %>
    </nav>
  </div>
</div>