<% @title="ABOUT US" %>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>DIRECTORS</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-3">
    <%= image_tag "craig-bryan-main.jpg", width: 200, alt: "craig-bryan", class: 'about-img'%>
    <h4>Craig J. Bryan, PsyD, ABPP</h4>
    <h5>Executive Director</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#craig-bryan"
        aria-expanded="false"
        aria-controler="craig-bryan">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="craig-bryan">
        <div class="card card-block">
          <p>
          Dr. Craig J. Bryan, PsyD, ABPP, is a board-certified clinical psychologist and is an Assistant Professor in the Department of Psychology at the University of Utah.
          </p>
          Dr. Bryan received his PsyD in clinical psychology Baylor University, and completed his clinical psychology residency at the Wilford Hall Medical Center, Lackland Air Force Base, Texas. He served four years in the Air Force on active duty as the Chief of Primary Care Psychology Services and Suicide Prevention Program Manager at Lackland AFB, and deployed to Iraq in 2009 as the Clinical Director of the Traumatic Brain Injury Clinic located at Joint Base Balad (LSA Anaconda), Iraq. Dr. Bryan currently researchers suicide, psychological health, and resiliency among military personnel and veterans, and oversees two randomized controlled trials totaling approximately $3M testing interventions for suicidal military personnel at Fort Carson, Colorado. He also serves as the lead risk management consultant for the $25 million STRONG STAR Research Consortium investigating treatments for combat-related PTSD among military personnel. Dr. Bryan is a nationally-recognized expert on military suicide, and serves as a consultant to the Department of Defense for psychological health promotion initiatives and suicide prevention. He regularly provides training to clinicians and medical professionals about managing suicidal patients, and has over 120 publications and scientific presentations in the areas of suicide and military mental health, including the book Managing Suicide Risk in Primary Care.
        </div>
      </div>
    </p>
  </div>
  <div class="col-md-3 about-section-border">
    <%= image_tag "AnnaBelle-Bryan.jpg", width: 200, alt: "AnnaBelle-Bryan", class: 'about-img' %>
    <h4>AnnaBelle O. Bryan, MS</h4>
    <h5>Director of Operations</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#annabelle-bryan"
        aria-expanded="false"
        aria-controler="annabelle-bryan">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="annabelle-bryan">
        <div class="card card-block">
          <p>
          TSgt (Ret) AnnaBelle Bryan is the Director of Education and Outreach and Co-Director of VE3TS Utah, for the National Center for Veterans Studies. During her 20 years in the military, she worked as a public health technician and executive officer at several military installations worldwide, including Williams AFB, Arizona, Langley AFB, Virginia, Ramstein AB, Germany, and Maxwell AFB, Alabama.
          </p>
          AnnaBelle served on active duty in the U.S. Air Force for 20 years as a public health technician and executive officer at several military installations worldwide, to include a deployment to Iraq in 2009, where she was responsible for disease monitoring and health surveillance for over 25,000 military personnel and civilian contractors. Since her retirement from active duty service in 2012, AnnaBelle has been conducting research focused on military and veteran suicide prevention, PTSD, military sexual trauma, and moral injury. She is the project coordinator of two Department of Defense-funded studies aimed at identifying indicators of emerging suicide risk on social media networks, and currently serves as the Co-Investigator of a DOD-funded study to identify optimal methods for enacting firearm safety procedures to prevent military suicide. A certified peer specialist trainer, AnnaBelle provides training and supervision to veteran peer specialists across the state of Utah and helps service members and veterans struggling with mental health conditions to find and obtain empirically-supported treatment. AnnaBelle holds a degree in public health from the American Military University, and a master's degree in Exercise & Sports Psychology from The University of Utah.
        </div>
      </div>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag "Feea-Leifker.jpg", width: 200, alt: "AnnaBelle-Bryan", class: 'about-img' %>
    <h4>Feea Leifker, PhD, MPH</h4>
    <h5>Director of Clinical Services</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#feea-leifker"
        aria-expanded="false"
        aria-controler="feea-leifker">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="feea-leifker">
        <div class="card card-block">
          <p>
          Dr. Leifker is a clinical psychologist who provides clinical services and conducts research for the NCVS. She received her doctorate from The Pennsylvania State University and earned a master's degree in public health from Emory University. She completed her predoctoral clinical psychology internship at the University of California, San Diego/San Diego Veterans Affairs Medical Center, where she provided couple therapy and evidence-based treatments for anxiety disorders and PTSD to veterans. Her research has focused on understanding how mental health problems, particularly PTSD, impact relationships, and how social support and other relationship factors can be used to enhance recovery from mental health conditions.</p>
        </div>
      </div>
    </p>
  </div>

  <div class="col-md-3">
      <%= image_tag "no-photo.jpg", width: 200, alt: "david-rozek", class: 'about-img' %>
      <h4>David Rozek, PhD</h4>
      <h5>Director of Training</h5>
      <p>
        <button class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#david-rozek"
          aria-expanded="false"
          aria-controler="david-rozek">
          Read More
        </button>
      </p>
      <p>
        <div class="collapse" id="david-rozek">
          <div class="card card-block">
            <p>
            Dr. Rozek is a clinical psychologist and holds a primary appointment at the University of Utah in the Department of Psychiatry. He received his PhD from the University of Notre Dame and completed his residency at the Orlando Veterans Affairs Medical Center. Dr. Rozek’s clinical and research expertise is in cognitive and behavioral therapies for depression, PTSD, and anxiety related disorders.
            </p>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
<div class="app-card-container-statement">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "NCVS-Group-photo.jpg", width: 400, alt: "group photo", class: 'group-img'%>
      </div>
      <div class="col-md-8 about-text">
        <h4 class="about-statement">To engage in research, education, engagement, and advocacy to improve the lives of military personnel, veterans, and their families.</h4>
      </div>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>MANAGERS</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
<div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "nick-oakeyfrost", class: 'about-img' %>
      <h4>Diana Fuessel-Herrmann</h4>
      <h5>Executive Assistant</h5>
      <p>
        <button class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#nick-oakeyfrost"
          aria-expanded="false"
          aria-controler="nick-oakeyfrost">
          Read More
        </button>
      </p>
      <p>
        <div class="collapse" id="nick-oakeyfrost">
          <div class="card card-block">
            <p>
            Get Bio
            </p>
          </div>
        </div>
      </p>
  </div>
  <div class="col-md-3">
    <%= image_tag "nick-oakeyfrost.jpg", width: 200, alt: "nick-oakeyfrost", class: 'about-img' %>
      <h4>Nick Oakey-Frost, BA</h4>
      <h5>Research Manager</h5>
      <p>
        <button class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#nick-oakeyfrost"
          aria-expanded="false"
          aria-controler="nick-oakeyfrost">
          Read More
        </button>
      </p>
      <p>
        <div class="collapse" id="nick-oakeyfrost">
          <div class="card card-block">
            <p>
            Nick Oakey-Frost graduated from The University of Utah with a BA in Psychology and a Minor in Anthropology. Within the next 2- 3 years, Nick hopes to move on to graduate school to pursue a Ph.D. in Clinical Psychology. Nick has garnered exposure to broad smattering of research and topics within the field of Psychology, while simultaneously honing his interests toward developmental psychopathology, trauma, suicide, and the intersection of trauma, anit-social behaviors, and their mediators.
            </p>
          </div>
        </div>
      </p>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>RESEARCH FELLOWS</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-3">
    <%= image_tag "eric-garland.jpg", width: 200, alt: "eric-garland", class: 'about-img' %>
    <h4>Eric Garland, PhD, LCSW</h4>
    <h5>Research Fellow</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#eric-garland"
        aria-expanded="false"
        aria-controler="eric-garland">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="eric-garland">
        <div class="card card-block">
          <p>
          Dr. Garland’s biobehavioral research agenda is focused on translating findings from cognitive and affective neuroscience into treatments for stress-related conditions. Dr. Garland is the developer of Mindfulness-Oriented Recovery Enhancement (MORE), a multimodal intervention designed to ameliorate transdiagnostic mechanisms underpinning stress, addiction, emotion dysregulation, and chronic pain. He has received funding from the National Institutes of Health to conduct clinical trials of MORE as a treatment for alcohol dependence, prescription opioid misuse, and chronic pain among civilians and members of the U.S. Military. Complementing his expertise in clinical research, Dr. Garland is a licensed clinical social worker with over a decade of experience providing cognitive-behavioral and mindfulness-based therapies for persons suffering from addictive behaviors, psychological distress, and chronic pain syndromes.
          </p>
        </div>
      </div>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag "james-griffith.jpg", width: 200, alt: "james-griffith", class: 'about-img' %>
    <h4>James Griffith, PhD</h4>
    <h5>Research Fellow</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#james-griffith"
        aria-expanded="false"
        aria-controler="james-griffith">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="james-griffith">
        <div class="card card-block">
          <p>
          COL (Ret) James Griffith, PhD, is a research psychologist who received his PhD in applied social psychology from The Clarement Colleges, and is a graduate of the U.S. Army War College. COL Griffith recently retired from military service after serving over 36 years in the Army active and Reserve components. COL Griffith was initially trained in Russian and served with the U.S. Army Security Agency, Field Station Berlin, and was later appointed to serve as a uniformed research psychologist at the Walter Reed Army Institute of Research. While serving in the Maryland Army National Guard, he supervised data collection, analyses, and findings concerning the recruitment and retention of Army Guard and Reserve members. COL Griffith has additionally served as the uniformed Research Psychology Consultant to the Chief of the Medical Services Corps, Office of the Army Surgeon General, and later developed and implemented an evaluation of the Army's screening, referral, and treatment procedures for Soldiers with PTSD and related symptoms at the Walter Reed Deployment Health Clinical Center.
          </p>
        </div>
      </div>
    </p>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>POST DOCTORAL FELLOWS</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-3">
    <%= image_tag "alexis-may.jpg", width: 200, alt: "alexis-may", class: 'about-img' %>
    <h4>Alexis May, PhD</h4>
    <h5>Post-Doctoral Fellow</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#alexis-may"
        aria-expanded="false"
        aria-controler="alexis-may">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="alexis-may">
        <div class="card card-block">
          <p>
          Dr. May is a clinical psychologist who received her PhD in clinical psychology from the University of British Columbia and recently completed her clinical psychology internship at the Alpert Medical School of Brown University. Her primary research interest is understanding the etiology, trajectory, and prevention of suicidal thoughts and behaviors. Her work has focused on in differentiating those who act on suicidal thoughts from those who do not, understanding motivations for suicidal behavior, and clarifying the role of impulsivity in suicidality. She has won several awards, including the BCPA Graduate Medal and a Simons Foundation Doctoral Scholarship, as well as support for her research from the UBC Faculty of Arts and the Military Suicide Research Consortium. Clinically, Dr. May is trained in dialectical behavioral therapy, cognitive behavioral therapy, and motivational.
          </p>
        </div>
      </div>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "alexis-may", class: 'about-img' %>
    <h4>Aviva Sinclair, PhD</h4>
    <h5>Post-Doctoral Fellow</h5>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#alexis-may"
        aria-expanded="false"
        aria-controler="alexis-may">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="alexis-may">
        <div class="card card-block">
          <p>
          Get bio
          </p>
        </div>
      </div>
    </p>
  </div>
</div>
</div>
  

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>RESEARCH STAFF</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "david-rozek", class: 'about-img' %>
    <h4>Sean Williams, LCSW</h4>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "logan-smith", class: 'about-img' %>
    <h4>Logan Smith, BS</h4>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "jerry-xyz", class: 'about-img' %>
    <h4>Jerry Brady, BS</h4>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "cole-xyz", class: 'about-img' %>
    <h4>Cole Lawson, BS</h4>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "tyler-cheney", class: 'about-img' %>
    <h4>Tyler Cheney, MSW</h4>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>GRADUATE STUDENTS</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-3">
    <%= image_tag "erika-roberge.jpg", width: 200, alt: "erika-roberge", class: 'about-img' %>
    <h4>Erika Roberge, MS</h4>
    <h5>Graduate Student</h5>
  </div>
   <div class="col-md-3">
    <%= image_tag "kent-hinkson.jpg", width: 200, alt: "kent-hinkson", class: 'about-img' %>
    <h4>Kent Hinkson, BS</h4>
    <h5>Graduate Student</h5>
  </div>
  <div class="col-md-3">
    <%= image_tag "julia-harris.jpg", width: 200, alt: "julia-harris", class: 'about-img' %>
    <h4>Julia Harris, BS</h4>
    <h5>Graduate Student</h5>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "kelsi-rugo", class: 'about-img' %>
    <h4>Kelsi Rugo, MA</h4>
    <h5>Graduate student</h5>
  </div>
  <div class="col-md-3">
    <%= image_tag "william-russell.jpg", width: 200, alt: "william-russell", class: 'about-img' %>
    <h4>William Russell, BS</h4>
    <h5>Graduate Student<br>
      Peer Mentor, VE3TS Utah<br>
    </h5>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>RESEARCH ASSOCIATES</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-3">
    <%= image_tag "anastasia-najarian.jpg", width: 200, alt: "anastasia-najarian", class: 'about-img' %>
    <h4>Anastasia Najarian</h4>
  </div>
  
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "william-andres", class: 'about-img' %>
    <h4>William Andres</h4>
  </div>
  <div class="col-md-3">
    <%= image_tag "no-photo.jpg", width: 200, alt: "bret-bradshaw", class: 'about-img' %>
    <h4>Bret Bradshaw</h4>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-12">
    <div class="about-section">
      <h2 class="section-header"><span>Co-Founder & Scientific Director</span></h2>
    </div>
  </div>
</div>

<div class="row about-us">
  <div class="col-md-5">
    <%= image_tag "rudd-half.jpg", width: 300, alt: "rudd-half", class: 'about-img' %>
    <h4>M. David Rudd, PhD, ABPP</h4>
    <h5>Founder</h5>
  </div>
  <div class="col-md-7">
    <h6>
      Dr. M. David Rudd, PhD, ABPP, is a board-certified clinical psychologist and is currently Provost of the University of Memphis and Co-Founder of the National Center for Veterans Studies.
      </h6>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#rudd-half"
        aria-expanded="false"
        aria-controler="rudd-half">
        Read More
      </button>
    </p>
    <p>
      <div class="collapse" id="rudd-half">
        <div class="card card-block">
          
          <p>
          He received his PhD in clinical psychology from Princeton University, and completed postdoctoral training at the Beck Institute in Philadelphia under the direction of Aaron T. Beck Dr. Rudd served in the Army on active duty status as a psychologist for four years, and has since been named a Fellow of three professional societies including the American Psychological Association (Division 12 and Division 29), the International Association of Suicide Research, and the Academy of Cognitive Therapy (a founding fellow). He was recently elected a Distinguished Practitioner and Scholar of the National Academies of Practice in Psychology. In addition to his clinical work, Dr. Rudd is an active researcher with over 170 publications and several books. He is currently conducting a $1.97M clinical trial to reduce suicide attempts among Soldiers at Fort Carson, Colorado. Dr. Rudd has served as a consultant to many organizations nationally and internationally, including the U.S. Air Force, the U.S. Army, the Department of Defense, and the Beijing Suicide Prevention and Research Center. He serves on a number of editorial boards, is past Chair of the Texas State Board of Examiners of Psychologists, past President of the Texas Psychological Association, past President of Division 12 Section VII of the American Psychological Association, past Past-President of the American Association of Suicidology, a previous members of the APA Council of Representatives, and currently serves on the board of the PDV Foundation. Dr. Rudd has testified five times before the U.S. Congress, both House and Senate, on issues related to veterans and suicide.
          </p>
        </div>
      </div>
    </p>
  </div>
</div>