<div class="app-card-container-header">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="inner cover">
          <h1 class="cover-heading header-title">NATIONAL CENTER FOR VETERANS STUDIES</h1>
          <br>
          <p class="lead header-subtitle">Helping Others Hold On</p>
          <button type="button" class="btn btn-outline-secondary btn-lg">Survey Button</button>
          <%= video_tag(
          'Cropped-Banner-Flag.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
          )
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app-card-container-statement-home">
  <div class="card">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "Soldier.jpg", width: 250, alt: "statement block" %>
      </div>
      <div class="col-md-8 statement-text">
        <h2 class="mission-statement">Our Mission: Conduct research, education, outreach, and advocacy for improving the lives of military personnel, veterans, and their families.</h2>

        <h4>Please help us continue to support veterans and the National Center for Veterans Studies and make a donation today.</h4>

        <p class="lead">
        <%= link_to "Donate Now", about_path, class: "btn btn-lg btn-secondary" %>
      </p>
      </div>
    </div>
  </div>

<div class="whats-new-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="banner-text">What's New at NCVS?</h1>
    </div>
  </div>
</div>

<div class="whats-new">
  <div class="row">
    <div class="col-md-4">
      <h4 class="banner2-header">Highlighted Project</h4>
      <%= image_tag "RandR.jpg", width: 350, alt: "r and r block", class: 'banner2-image'%>
      <h4>R AND R PROGRAM</h4>
      <p class="banner2-text">NCVS teams up with the National Ability Center to offer a 2 week program free of charge for military personnel with PTSD and their families to stay in Park City, receive empirically based treatment, and enjoy the natural wonders Utah has to offer. For inquiries, please email NCVS@utah.edu or call 801-587-7978.</p>
      <p class="lead">
      <%= link_to "Read More", about_path, class: "btn btn-outline-secondary" %>
      </p>
      <hr>
      <h4 class="banner2-header">Extended Free Training</h4>
      <%= image_tag "counselor-talks-with-soldier-during-therapy-picture-id607480336", width: 350, alt: "r and r block", class: 'banner2-image'%>
      <h4>FREE BRIEF COGNITIVE BEHAVIORAL THERAPY FOR SUICIDE RISK TRAINING IN SALT LAKE CITY</h4>
      <p class="banner2-text">Dr. Craig Bryan will teach a free training for mental health providers on BCBT for suicide risk in Salt Lake City.<a href="http://usmilitarymatters.org/"> Read more ></a></p>
      <br>
      <%= link_to "LEARN MORE ABOUT OUR PROJECTS", research_path, class: "btn btn-outline-secondary"%>
      <p class="lead">
      </p>
    </div>
    <div class="col-md-4">
      <h4 class="banner2-header">In the News</h4>
      <%= image_tag "ravellcall-image.jpg", width: 350, alt: "news", class: 'banner2-image'%>
      <h4>NATIONAL PROGRAM HELPS SOLDIERS LEARN TO COPE WITH PTSD</h4>
      <p class="banner2-text">A recent spotlight on the R&R Program, designed for service members and veterans with post-traumatic stress disorder (PTSD). Its aim is to help them lead stable lives and, in the most extreme cases, prevent suicide.</p>
      <br>
      <p class="lead">
      <%= link_to "Read More", about_path, class: "btn btn-outline-secondary" %>
      </p>
      <hr>
      <%= image_tag "green-beret-in-action-picture-id584861864.jpg", width: 350, alt: "news", class: 'banner2-image'%>
      <h4><a href="https://csbs.utah.edu/_documents/cognitivebehavior-suicide-article.pdf">COGNITIVE-BEHAVIORAL THERAPY AND MILITARY SUICIDE PREVENTION</a></h4>
      <h4></h4>
      <p class="banner2-text">NCVS Director Craig Bryan's latest research evaluates the effectiveness of brief cognitive-behavioral therapy for the prevention of suicide attempts in military personnel.</p>
      <br>
      <p class="lead">
      <%= link_to "Read More", about_path, class: "btn btn-outline-secondary" %>
      </p>
    </div>
    <div class="col-md-4 video-column">
      <h4 class="banner2-header">Featured Videos</h4>
      <div class="video-container">         
        <iframe width="200" height="113" src="https://www.youtube.com/embed/c9pKX3PgK-k" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="banner2-text">RIDE TO ZERO: A SUICIDE PREVENTION FUNDRAISER EVENT</p>
      <div class="video-container"> 
        <iframe width="200" height="113" src="https://www.youtube.com/embed/ZNGaIwjld2o" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="banner2-text">FAQ'S WITH DR. BRYAN| COGNITIVE-BEHAVIORAL THERAPY AND MILITARY SUICIDE PREVENTION</p>
      </div>
    </div>
  </div>
</div>