<% @title="RESEARCH" %>

<div class="row studies-header">
  <div class="col-md-12">
    <h1>Treatment & Assessment Studies</h1>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>Brief interventions for short-term suicide risk reduction in military populations</h4>
      <%= image_tag 'studies-1.jpg', width: 350%>
      <div class="overlay">
        <div class="text">In this randomized clinical trial,<br>we will compare three commonly-used <br>crisis interventions with active duty <br>service members who present to an emergency <br>mental health service reporting current<br> suicidal ideation with intent to die.<br> It is expected that enrollment for this<br> study will begin in approximately one year.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", suicideriskreduction_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>PRImary care Screening Methods (PRISM)</h4>
      <%= image_tag 'studies-2.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this study, we are testing the ability of a new suicide<br>prevention screening instrument to predict future suicide <br>attempts among military personnel, retirees, and family <br>members seeking care from military primary care <br>clinics. We are additionally seeking to quantify the <br>proportion of individuals who are "missed" by existing <br>screening methods. <br>This study is currently underway.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", prism_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Brief cognitive-behavior therapy for managing suicidal behaviors</h4>
      <%= image_tag 'studies-3a.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this randomized clinical trial, are comparing a brief-cognitive<br> behavioral therapy (B-CBT) to usual care in the treatment of <br>active duty service members who report suicidal ideation <br>with intent to die and/or a recent suicide attempt.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", cognitivebehaviortherapy_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row studies">
  <div class="col-md-4">
    <div class="container">
      <h4>Mindfulness-Oriented Recovery Enhancement (MORE) to prevent opioid dependence in military personnel with chronic pain</h4>
        <%= image_tag 'studies-3.jpg', width: 350 %>
        <div class="overlay">
          <div class="text">In this treatment study, we are comparing the effectiveness of <br>Mindfulness-Oriented Recovery Enhancement (MORE) <br>to supportive group counseling for the prevention of opioid and <br>narcotic misuse and addiction among active duty Soldiers <br>with chronic pain conditions. MORE is a group therapy shown <br>to be effective for reducing chronic pain and opioid misuse in <br>civilian patients. This study is currently underway.<br>
          <br>
          <%= link_to "CLICK HERE FOR MORE INFO", more_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row studies-header">
  <div class="col-md-12">
    <h1>Pre-clinical Studies</h1>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>Evaluation of suicidality, cognitions, and pain experience (ESCAPE): Implications for CBT in military populations</h4>
      <%= image_tag 'studies-4.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this cross-sectional research study, we are investigating <br>specific thought processes and cognitive styles associated with <br>suicide risk among patients with chronic pain conditions.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", implicationsforcbtinmilitary_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Guilt, shame, and suicide risk in a military clinical population</h4>
      <%= image_tag 'studies-5.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this pilot cross-sectional research study, we will investigate the <br>experience of shame, guilt, and trauma among active duty military <br>personnel receiving mental health care at several military clinics, <br>and determine the interrelationship of these variables with <br>suicide risk.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", suicideriskinmilitary_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Traumatic brain injuries and suicide risk in deployed service members</h4>
      <%= image_tag 'studies-6.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this study, we are seeking to understand factors associated <br>with post-traumatic stress disorder, traumatic brain injury, <br>and suicide risk among several clinical and nonclinical samples <br>of military personnel deployed to Iraq during 2009.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", braininjury_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row studies-header">
  <div class="col-md-12">
    <h1>Non-clinical Studies</h1>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>The National Center for Veterans Studies and Couple Laboratory for Observational StudiEs (CLOSE)</h4>
      <%= image_tag 'studies-7.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">ISeeks participants to help us learn about links between risk <br>for suicide and the ways that partners in committed <br>relationships couples have conversations about their <br>relationships and what they find meaningful in life.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", closelab_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Predictors of academic success among college student veterans</h4>
      <%= image_tag 'studies-8.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this survey, we will assess veterans' experiences both on <br>and off college and university campuses in order to identify <br>factors that contribute to veteran success in school.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", academicsuccess_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Analyses of risk and protective factors for trauma-related events</h4>
      <%= image_tag 'studies-9.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this cross-sectional study, we are seeking to identify <br>protective factors associated with a range of traumatic <br>experiences among college students and active duty <br>military personnel.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", protectivefactors_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>Risk and protective factors for PTSD and social-occupational impairment among Special Operations Forces (SOF) Personnel</h4>
      <%= image_tag 'studies-10.jpg', width: 350 %>
      <div class="overlay">
        <div class="text">In this longitudinal surveillance study, we will prospectively <br>investigate individual, social, operational, and environmental <br>risk and protective factors associated with social-occupational <br>impairment, resiliency, and psychological symptoms among <br>Special Operations Forces (SOF) personnel.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", factorsforptsd_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row press-main">
  <div class="col-md-12">
    <h1 class="press-header">Research Articles</h1>
  </div>
</div>
<div class="row press-list">
  <div class="col-md-12">
    <div class="drop-down-press">
      <p>
        <button
          class="btn btn-primary btn-lg btn-block"
          type="button"
          data-toggle="collapse"
          data-target="#2016"
          aria-expanded="false"
          aria-controler="2016"
        >
          2016
        </button>
      </p>
      <p>
        <div class="collapse" id="2016">
          <div class="card drop-down">
            <div class="press-grey">
              <p><span>Guilt as a mediator of the relationship among depression and posttraumatic stress with suicide ideation in two samples of military personnel and veterans. International Journal of Cognitive Therapy.</span></p>
              <p>Bryan, C.J., Roberge, E.*, Bryan, A.O., Ray-Sannerud, B., Morrow, C.E. & Etienne, N. (in press)</p>
            </div>
            <div class="press-white">
              <p><span>High Levels of Emotional Distress, Trauma Exposure, and Self-Injurious Thoughts and Behaviors Among Military Personnel and Veterans With a History of Same Sex Behavior. Psychology of Sexual Orientation and Gender Diversity.</span></p>
              <p>Ray-Sannerud, B. N., Bryan, C. J., Perry, Nicholas, N. S. & Bryan, A. O. (in press)</p>
            </div>
            <div class="press-grey">
              <p><span>Repetitive traumatic brain injury, psychological symptoms, and suicide risk in a clinical sample of deployed military personnel. JAMA Psychiatry.</span></p>
              <p>Bryan, C.J., & Clemans, T.A. (in press)</p>
            </div>
            <div class="press-white">
              <p><span>The association of physical and sexual assault with suicide risk in nonclinical military and undergraduate samples. Suicide and Life-Threatening Behaviors.</span></p>
              <p><a href="http://onlinelibrary.wiley.com/doi/10.1111/sltb.12011/abstract" class="press-link">Download</a></p>
              <p>Bryan, C.J., McNaughton-Cassill, M., Osman, A., & Hernandez, A.M. (in press)</p>
            </div>
            <div class="press-grey">
              <p><span>Multiple traumatic brain injuries (or concussions) increase severity of sleep disturbance among deployed military personnel. SLEEP.</span></p>
              <p>Bryan, C.J. (in press)</p>
            </div>
            <div class="press-white">
              <p><span>Brief cognitive behavioral therapy for suicidality in military populations. Journal of Military Psychology.</span></p>
              <p>Rudd, M.D. (in press)</p>
            </div>
            <div class="press-grey">
              <p><span>Suicide risk of military service members and veterans: The role of the clergy.Journal of Family and Community Ministries.</span></p>
              <p>Rudd, M.D. (in press)</p>
            </div>
            <div class="press-white">
              <p><span>Suicide in the military. In B. Moore & J. Barnett (Eds.). Military Psychologists’ Desk Reference.</span></p>
              <p>Rudd, M.D. (in press)</p>
            </div>
            <div class="press-grey">
              <p><span>Combat experience and the acquired capability for suicide. In G. Sullivan, L. James, B. Bongar (Eds.),The Oxford Handbook of Suicide in Military and Veteran Populations. New York, NY: Oxford University Press.</span></p>
              <p>Clemans, T.A., Bryan, C.J., Hernandez, A.M. (in press)</p>
            </div>
          </div>
        </div>
      </p>
    </div>
    <div class="drop-down-press">
      <p>
        <button
          class="btn btn-primary btn-lg btn-block"
          type="button"
          data-toggle="collapse"
          data-target="#2015"
          aria-expanded="false"
          aria-controler="2015"
        >
          2015
        </button>
      </p>
      <p>
        <div class="collapse" id="2015">
          <div class="card drop-down">
            <div class="press-grey"> 
              <p><span>Brief cognitive-behavioral therapy effects on post-treatment suicide attempts in a military sample: results of a randomized clinical trial with 2-year follow-up.</span></p>
              <p>Rudd, M. D., Bryan, C. J., Wertenberger, E. G., Peterson, A. L., Young-McCaughan, S., Mintz, J., ... & Bruce, T. O. (2015)</p>
            </div>
            <div class="press-white"> 
              <p><span>Cognitive Behavioral Therapy for Preventing Suicide Attempts: A Guide to Brief Treatments Across Clinical Settings. Routledge.</span></p>
              <p>Bryan, C. J. (Ed.). (2015)</p>
            </div>
            <div class="press-grey"> 
              <p><span>Acute vs. chronic stressors, multiple suicide attempts, and persistent suicide ideation in US soldiers. The Journal of nervous and mental disease, 203(1), 48-53.</span></p>
              <p>Bryan, C. J., Clemans, T. A., Leeson, B., & Rudd, M. D. (2015)</p>
            </div>
            <div class="press-white">
              <p><span>An investigation of the interactive effects of the capability for suicide and acute agitation on suicidality in a military sample. Depression and anxiety, 32(1), 25-31.</span></p>
              <p>Ribeiro, J. D., Bender, T. W., Buchman, J. M., Nock, M. K., Rudd, M. D., Bryan, C. J., ... & Joiner, T. E. (2015)</p>
            </div>
          </div>
        </div>
      </p>
    </div>
    <div class="drop-down-press">
      <p>
        <button
          class="btn btn-primary btn-lg btn-block"
          type="button"
          data-toggle="collapse"
          data-target="#2014"
          aria-expanded="false"
          aria-controler="2014"
        >
        2014
      </button>
      </p>
      <p>
        <div class="collapse" id="2014">
          <div class="card drop-down-press">
            <div class="press-grey"> 
              <p><span>Moral injury, suicidal ideation, and suicide attempts in a military sample. Traumatology, 20, 154-160.</span></p>
              <p>Bryan, A.O., Bryan, C.J., Morrow, C.E., Etienne, N., & Ray-Sannerud, B. (2014)</p>
            </div>
            <div class="press-white">
              <p><span>Suicide attempts among military personnel and veterans as a recurrence of premilitary suicide risk. Comprehensive Psychiatry, 55, 534-541.</span></p> 
              <p>Bryan, C.J., Bryan, A.O., Ray-Sannerud, B.N., Etienne, N., & Morrow, C.E. (2014)</p>
            </div>
            <div class="press-grey">
              <p><span>Reliability and Normative Data for the Behavioral Heakth Measure (BHM) in Primary Care Behavioral Health Settings. Families, Systems & Health, 32(1), 89-100.</span></p>
              <p>Bryan, C.J., Blount, T., Kanzler, K.A., Morrow, C.E., Corso, K.A., Corso, M. A., Ray-Sannerud, B. & Bobbie Fogarty, C. T. (2014)</p> 
            </div>
            <div class="press-white">
              <p><span>Suicide attempts before joining the military increase risk for suicide attempts and severity of suicidal ideation among military personnel and veterans. Comprehensive Psychiatry, 55(3), 534-541.</span></p>
              <p>Bryan, C .J., Bryan, A. O., Ray-Sannerud, B. N., Etienne, N. & Morrow, C. E. (2014) </p> 
            </div>
            <div class="press-grey">
              <p><span>Improving the detection and prediction of suicidal among military personnel by measuring suicidal beliefs: An evaluation of the Suicide Cognitions Scale. Journal of Affective Disorders, 159, 15-22.</span></p>
              <p>Bryan, C. J., Rudd, M. D., Wertenberger, E., Etienne, N., Ray-Sannerud, B. M., Morrow, C.E.,...Young-McCaughon, S. (2014)</p> 
            </div>
            <div class="press-white">
              <p><span>Posttraumatic stress symptoms and work-related accomplishments as predictors of general health and medical utilization among special operations forces and personnel. Journal of Nervous and Mental Disease, 202(2), 105-110.</span></p> 
              <p>Bryan, C. J., Stephenson, J. A., Morrow, C. E., Staal, M. & Haskell, J. (2014)</p>
            </div>
            <div class="press-grey">
              <p><span>Gender differences in the association of agitation and suicide attempts among psychiatric inpartients. General Hospital Psychiatry, 159, 15-22.</span></p>
              <p>Bryan, C. J., Roberge, E.M., Hitschfeld, M. J., Palmer, B. A., Schak, K. M. & Lineberry, T. W. (2014)</p>
            </div>
            <div class="press-white">
              <p><span>An Evidence-Based Approach to Managing Suicidal Patients in The Patient-Centered Medical Home. Cognitive Behavioral Practice, 21(3), 269-281.</span></p>
              <p>Bryan, C. J., Corso, K. A., & Macalanda, J. (2014)</p> 
            </div>
            <div class="press-grey">
              <p><span>Non-suicidal Self-Injury Among a Sample of United States Military Personnel and Veterans Enrolled in College Classes. Journal of Clinical Psychology, 70(9), 874-885.</span></p> 
              <p>Bryan, C. J., Bryan, A. O. (2014)</p>
            </div>
            <div class="press-white">
              <p><span>Reliability and normative data for the Behavioral Health Measure (BMH) in primary care behavioral health settings. Families, Systems, & Health, 32(1), 89-100.</span></p> 
              <p>Bryan, C. J., Blount, T., Kanzler, K. A., Morrow, C. E., Corso, K. A., Corso, M. A. & Ray-Sannerud, B. (2014)</p>
            </div>
            <div class="press-grey">
              <p><span>Depression, posttraumatic stress disorder, and grade point average among student service members and veterans. Journal of Rehabilitation Research and Development, 51(7), 1035-1046.</span></p> 
              <p>Bryan, C. J., Bryan, A. O., Hinkson, K., Bichrest, M. & Ahern, D. A. (2014)</p>
            </div>
            <div class="press-white">
              <p><span>Self-Forgiveness, Post-Traumatic Stress, and Suicide Attempts Among Military Personnel and Veterans. Traumatology, 21(1), 40-46.</span></p> 
              <p>Bryan, A. O., Theriault, J. L. & Bryan, C. J. (2014)</p>
            </div>
            <div class="press-grey">
              <p><span>Moral injury, suicidal ideation, and suicide attempts in a military sample. Traumatology, 20(3), 154-160.</span></p>
              <p>Bryan, A. O., Bryan, C. J., Morrow, C. E., Etienne, N. & Ray-Sannerud, B. N. (2014)</p>
            </div>
            <div class="press-white">
              <p><span>Assessment of Occupational Burnout in United States Air Force Predator/Reaper "Drone Operators. Military Psychology, 26(5-6), 376-385.</span></p>
              <p>Chappelle, W., McDonald, K., Prince, L., Goodman, T., Ray-Sannerud, B. N. & W. E. (2014)</p> 
            </div>
            <div class="press-grey">
              <p><span>Symptoms of psychological distress and post-traumatic stress disorder in United States Air Force "drone" operators. Military Medicine, 179(8), 63-70.</span></p>
              <p>Chappelle, W. L., McDonald, K. D., Prince, L., Goodman, T., Ray Sannerud, B. N. & Tompson, W. (2014)</p> 
            </div>
            <div class="press-white">
              <p><span>The self-directed violence classification system and the Columbia classification algorithm for suicide assessment: A crosswalk. Suicide and Life-Threatening Behavior, 43(3), 48-53.</span></p>
              <p>Matarazzo, B. B., Clemans, T. A., Silverman, M. M. & Brenner, L. A. (2014)</p> 
            </div>
            <div class="press-grey">
              <p><span>Randomized controlled trial of two brief alcohol interventions for OEF/OIF veterans. Journal of Consulting and Clinical Psychology, 82(4), 562-568.</span></p>
              <p>McDevitt-Murphy, M. E., Murphy, J. G., Williams, J. L., Monahan, C. J., Bracken-Minor, K. L. & Fields, J. A. (2014)</p> 
            </div>
            <div class="press-white">
              <p><span>Personality Heterogeneity in PTSD: Distinct Temperament and Interpersonal Typologies. Psychological Assessment, 26(1), 23-34.</span></p>
              <p>Thomas, K. M., Hopwood, C. J., Donnellan, M. B., Wright, A. G., Sanislow, C. A., McDevitt-Murphy, M. E.,...Morey, L. C. (2014)</p> 
            </div>
            <div class="press-grey">
              <p><span>Brief Intervention to Reduce Hazardous Drinking and Enhance Coping Among OEF/OIF/OND Veterans. Professional Psychology: Research and Practice. Online publication.</span></p>
              <p>McDevitt-Murphy, M. E., Williams, J. L., Murphy, J. G., Monahan, C. J. & Bracken-Minor, K. L. (2014)</p> 
            </div>
            <div class="press-white">
              <p><span>The relationship between post-deployment factors and PTSD severity in recent combat veterans. Military Psychology, 26(1), 15-22.</span></p>
              <p>Possemato, K., McKenzie, S., Ouimette, P., McDevitt-Murphy, M.E. & Williams, J. L. (2014)</p> 
            </div>
            <div class="press-grey">
              <p><span>PTSD-SUD among military veterans. In J. P. Read (Ed.), Trauma and substance abuse: causes, consequences, and treatment of comorbid disorders. (143-167). Washington, DC: American Psychological Association.</span></p>
              <p>McDevitt-Murphy, M. E., Monahan, C. & Williams, J. L. (2014)</p> 
            </div>
            <div class="press-white">
              <p><span>PTSD and substance abuse comorbidity form a behavioral economic perspective. Drug and Alcohol Dependence, 140, e228-e228.</span></p>
              <p>Tripp, J., McDevitt-Murphy, M. E., Murphy, J. & Avery, M. (2014)</p> 
            </div>
            <div class="press-grey">
              <p><span>Factors Associated With Burnout Among Active Duty versus National Guard/Reserve US Air Force Pararescuemen. Military Behavioral Health, (just- accepted), 00-00.</span></p>
              <p>Smith, H. A., Stephenson, J. A., Morrow, C. E., Haskell, J. S., Staal, M., Bryan, A. O., & Bryan, C. J. (2014).</p> 
            </div>
            <div class="press-white">
              <p><span>Longitudinal changes in brains of patients with fluent primary progressive aphasia. Brain And Language, 131, 11-19.</span></p>
              <p>Heim, S., Pieperhoff, P., Grande, M., Kuijsten, W., Wellner, B., Sáez, L. E., & ... Amunts, K. (2014).</p>
            </div>
          </div>
        </div>
      </p>
    </div>
    <div class="drop-down-press">
      <p>
        <button
          class="btn btn-primary btn-lg btn-block"
          type="button"
          data-toggle="collapse"
          data-target="#2013"
          aria-expanded="false"
          aria-controler="2013"
        >
          2013
        </button>
      </p>
      <p>
        <div class="collapse" id="2013">
          <div class="card drop-down">
            <div class="press-grey"> 
              <p><span>Posttraumatic stress, depression, and insomnia among U.S. air force pararescuemen. Military Psychology, 25(6), 568-576.</span></p>
              <p>Morrow, C. E., Bryan, C. J., Bryan, A. O., Stephenson, J. A., Haskell, J. & Stall, M. (2013)</p>
            </div>
            <div class="press-white">
              <p><span>Life meaning following combat among air force security forces personnel. Military Psychology, 25(4), 354-364.</span></p>
              <p>Bryan, C. J., Elder, W. B., McNaughton-Cassill, M., Osman, A., Hernandez, A. & Allison, S. (2013)</p>
            </div>
            <div class="press-grey">
              <p><span>Suicides Among Military Personnel. The Journal of the American Medical Association, 310 (23), 2564-2565</span></p>
              <p>Bryan, C.J., Clemans, T. A. (2013)</p>
            </div>
            <div class="press-white"> 
              <p><span>Multiple traumatic brain injury and concussive symptoms among deployed military personnel. Brain Injury, 27(12), 1333-1337.</span></p>
              <p>Bryan, C.J. (2013).</p>
            </div>
            <div class="press-grey"> 
              <p><span>The functions of social support as protective factors for suicidal ideation in a sample of air force personnel. Suicide and Life- Threatening Behavior, 43(5), 562-573.</span></p>
              <p>Bryan, C.J., Hernandez, A.M. (2013)</p>
            </div>
            <div class="press-white"> 
              <p><span>Means and capacity for suicidal behavior: A comparison of the ratio of suicide attempts and deaths by suicide in the US military and general population. Journal of Affective Disorders, 148(1), 42-47.</span></p>
              <p>Anestis, M. D., Bryan, C. J. (2013)</p>
            </div>
            <div class="press-grey"> 
              <p><span>Age and belongingness moderate the effects of combat exposure on suicidal ideation among active duty Air Force personnel. Journal of Affective Disorders, 150(3), 1226-1229.</span></p>
              <p>Bryan, C.J., McNaughton-Cassill, M. & Osman, A. (2013)</p>
            </div>
            <div class="press-white"> 
              <p><span>Combat Exposure and Suicide Risk in Two Samples of Military Personnel. Journal of Clinical Psychology, 69(1), 64-77.</span></p>
              <p>Bryan, C. J., Hernandez, A.M., Allison, S. & Clemans, T. (2013)</p>
            </div>
            <div class="press-grey"> 
              <p><span>Guilt is more strongly associated with suicidal ideation among military personnel with direct combat exposure. Journal of Affective Disorders, 148(1), 37-41</span></p>
              <p>Bryan, C.J., Ray-Sannerud, B., Morrow, C.E. & Etienne, N. (2013)</p>
            </div>
            <div class="press-white">
              <p><span>Shame, pride, and suicidal ideation in a military clinical sample. Journal of Affective Disorders, 147(1-3), 212-216. Download</span></p>
              <p>Bryan, C.J. Ray-Sannerud, B., Morrow, C.E. & Etienne, N. (2013)</p>
            </div>
            <div class="press-grey"> 
              <p><span>The associations of physical and sexual assault with suicide risk in non clinical military and undergraduate samples. Suicide and Life-Threatening Behavior, 43(2), 223-234.</span></p>
              <p>Bryan, C.J., McNaughton-Cassill, M., Osman, A. & Hernandez, A.M. (2013)</p>
            </div>
            <div class="press-white">
              <p><span>Guilt, shame, and suicidal ideation in a military outpatient clinical sample. Depression and Anxiety, 30(1), 55-60.</span></p>
              <p>Bryan, C.J., Morrow, C. E., Etienne, N. & Ray-Sannerud, B. (2013)</p>
            </div>
            <div class="press-grey"> 
              <p><span>Military mental health: the role of daily hassles while deployed. Journal of Nervous and Mental Disease, 201(12), 1035-1039.</span></p>
              <p>Heron, E. A., Bryan, C. J., Dougherty, C. A. & Chapman, W. G. (2013)</p>
            </div>
            <div class="press-white"> 
              <p><span>Optimism Reduces Suicidal Ideation and Weakens the effect of Hopelessness Among military Personnel. Cognitive Therapy & Research, 37(5), 996-1003.</span></p>
              <p>Bryan, C. J., Ray-Sannerud, B., Morrow, C. E. & Etienne, N. (2013)</p>
            </div>
            <div class="press-grey">
              <p><span>Temporal trends in new exposure to antiepileptic drug monotherapy and suicide related behavior. Neurology, 81(22), 1900-1906.</span></p> 
              <p>Pugh, MJ. V., Wang, CP., Tabares, J. V., Finley, E. P., Hesdorffer, D., Amuan, M. E.,...Bryan, C. J. (2013)</p>
            </div>
            <div class="press-white"> 
              <p><span>Repetitive traumatic brain injury (or concussion) increases severity of sleep disturbance among deployed military personnel. Sleep, 36(6), 941-946. Download</span></p>
              <p>Bryan, C. J. (2013)</p>
            </div>
            <div class="press-grey"> 
              <p><span>A National Cohort Study of the Association Between the Polytrauma Clinical Triad and Suicide-Related Behavior Among US Veterans Who Served in Iraq and Afghanistan. American Journal of Public Health, 105(2), 380-388.</span></p>
              <p>Finley, E. P., Bollinger, M., Noel, P. H., Amuan, M. E., Copeland, L. A., Pugh, J. A.,...Bryan, C. J., & Pugh, M. V. (2013)</p>
            </div>
            <div class="press-white">
              <p><span>Operational psychology post-9/11: A decade of evolution. Military Psychology, 25(2), 93-104.</span></p>
              <p>Staal, M. A., & Stephenson, J. A. (2013).</p>
            </div>
            <div class="press-grey"> 
              <p><span>Repetitive traumatic brain injury, psychological symptoms, and suicide risk in a clinical sample of deployed military personnel. JAMA psychiatry, 70(7), 686-691. Download</span></p>
              <p>Bryan, C. J., & Clemans, T. A. (2013).</p>
            </div>
            <div class="press-white">
              <p><span>The associations of physical and sexual assault with suicide risk in nonclinical military and undergraduate samples. Suicide And Life-Threatening Behavior, 43(2), 223-234.</span></p>
              <p>Bryan, C. J., McNaugton‐Cassill, M., Osman, A., & Hernandez, A. M. (2013).</p>
            </div>
            <div class="press-grey"> 
              <p><span>Psychologists on the frontlines. In B. A. Moore, J. E. Barnett, B. A. Moore, J. E. Barnett (Eds.) , Military psychologists' desk reference (pp. 127-132). New York, NY, US: Oxford University Press.</span></p>
              <p>Bryan, C. J. (2013).</p>
            </div>
            <div class="press-white"> 
              <p><span>Stigma and suicide warning signs. Archives of Suicide Research, 17(3), 313-318.</span></p>
              <p>Rudd, M. D., Goulding, J. M., & Carlisle, C. J. (2013).</p>
            </div>
            <div class="press-grey">
              <p><span>Suicide in the military. In B. A. Moore, J. E. Barnett, B. A. Moore, J. E. Barnett (Eds.) , Military psychologists' desk reference (pp. 143-147). New York, NY, US: Oxford University Press.</span></p> 
              <p>Rudd, M. D. (2013).</p>
            </div>
            <div class="press-white"> 
              <p><span>Reasons for suicide attempts among active duty Soldiers: a functional approach. Journal of Affective Disorders, 144, 148-152. Download</span></p>
              <p>Bryan, C.J., Rudd, M.D., & Wertenberger, E. (2013).</p>
            </div>
            <div class="press-grey"> 
              <p><span>Loss of consciousness, depression, posttraumatic stress disorder, and suicide risk among deployed service members with mild traumatic brain injury (mTBI). Journal of Head Trauma Rehabilitation, 28, 13-20. Download</span></p>
              <p>Bryan, C.J., Hernandez, A.M., Allison, S., & Clemans, T. (2013).</p>
            </div>
            <div class="press-white"> 
              <p><span>Combat exposure and suicidality in two samples of military personnel. Journal of Clinical Psychology, 69, 64-77. Download</span></p>
              <p>Bryan, C.J., Hernandez, A.M., Allison, S.*, & Clemans, T. (2013).</p>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>


</div>