<% @title="RESEARCH" %>

<div class="row studies-header">
  <div class="col-md-12">
    <h1>Treatment & Assessment Studies</h1>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>Brief interventions for short-term suicide risk reduction in military populations</h4>
      <%= image_tag 'studies-1.jpg' %>
      <div class="overlay">
        <div class="text">In this randomized clinical trial,<br>we will compare three commonly-used <br>crisis interventions with active duty <br>service members who present to an emergency <br>mental health service reporting current<br> suicidal ideation with intent to die.<br> It is expected that enrollment for this<br> study will begin in approximately one year.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", suicideriskreduction_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>PRImary care Screening Methods (PRISM)</h4>
      <%= image_tag 'studies-2.jpg' %>
      <div class="overlay">
        <div class="text">In this study, we are testing the ability of a new suicide<br>prevention screening instrument to predict future suicide <br>attempts among military personnel, retirees, and family <br>members seeking care from military primary care <br>clinics. We are additionally seeking to quantify the <br>proportion of individuals who are "missed" by existing <br>screening methods. <br>This study is currently underway.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", prism_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Brief cognitive-behavior therapy for managing suicidal behaviors</h4>
      <%= image_tag 'studies-3a.jpg' %>
      <div class="overlay">
        <div class="text">In this randomized clinical trial, are comparing a brief-cognitive<br> behavioral therapy (B-CBT) to usual care in the treatment of <br>active duty service members who report suicidal ideation <br>with intent to die and/or a recent suicide attempt.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", cognitivebehaviortherapy_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row studies">
  <div class="col-md-4">
    <div class="container">
      <h4>Mindfulness-Oriented Recovery Enhancement (MORE) to prevent opioid dependence in military personnel with chronic pain</h4>
        <%= image_tag 'studies-3.jpg' %>
        <div class="overlay">
          <div class="text">In this treatment study, we are comparing the effectiveness of <br>Mindfulness-Oriented Recovery Enhancement (MORE) <br>to supportive group counseling for the prevention of opioid and <br>narcotic misuse and addiction among active duty Soldiers <br>with chronic pain conditions. MORE is a group therapy shown <br>to be effective for reducing chronic pain and opioid misuse in <br>civilian patients. This study is currently underway.<br>
          <br>
          <%= link_to "CLICK HERE FOR MORE INFO", more_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row studies-header">
  <div class="col-md-12">
    <h1>Pre-clinical Studies</h1>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>Evaluation of suicidality, cognitions, and pain experience (ESCAPE): Implications for CBT in military populations</h4>
      <%= image_tag 'studies-4.jpg' %>
      <div class="overlay">
        <div class="text">In this cross-sectional research study, we are investigating <br>specific thought processes and cognitive styles associated with <br>suicide risk among patients with chronic pain conditions.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", implicationsforcbtinmilitary_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Guilt, shame, and suicide risk in a military clinical population</h4>
      <%= image_tag 'studies-5.jpg' %>
      <div class="overlay">
        <div class="text">In this pilot cross-sectional research study, we will investigate the <br>experience of shame, guilt, and trauma among active duty military <br>personnel receiving mental health care at several military clinics, <br>and determine the interrelationship of these variables with <br>suicide risk.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", suicideriskinmilitary_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Traumatic brain injuries and suicide risk in deployed service members</h4>
      <%= image_tag 'studies-6.jpg' %>
      <div class="overlay">
        <div class="text">In this study, we are seeking to understand factors associated <br>with post-traumatic stress disorder, traumatic brain injury, <br>and suicide risk among several clinical and nonclinical samples <br>of military personnel deployed to Iraq during 2009.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", braininjury_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row studies-header">
  <div class="col-md-12">
    <h1>Non-clinical Studies</h1>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>The National Center for Veterans Studies and Couple Laboratory for Observational StudiEs (CLOSE)</h4>
      <%= image_tag 'studies-7.jpg' %>
      <div class="overlay">
        <div class="text">ISeeks participants to help us learn about links between risk <br>for suicide and the ways that partners in committed <br>relationships couples have conversations about their <br>relationships and what they find meaningful in life.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", closelab_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Predictors of academic success among college student veterans</h4>
      <%= image_tag 'studies-8.jpg' %>
      <div class="overlay">
        <div class="text">In this survey, we will assess veterans' experiences both on <br>and off college and university campuses in order to identify <br>factors that contribute to veteran success in school.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", academicsuccess_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
    <h4>Analyses of risk and protective factors for trauma-related events</h4>
      <%= image_tag 'studies-9.jpg' %>
      <div class="overlay">
        <div class="text">In this cross-sectional study, we are seeking to identify <br>protective factors associated with a range of traumatic <br>experiences among college students and active duty <br>military personnel.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", protectivefactors_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row studies">
  <div class="col-md-4">
    <div class="container">
    <h4>Risk and protective factors for PTSD and social-occupational impairment among Special Operations Forces (SOF) Personnel</h4>
      <%= image_tag 'studies-10.jpg' %>
      <div class="overlay">
        <div class="text">In this longitudinal surveillance study, we will prospectively <br>investigate individual, social, operational, and environmental <br>risk and protective factors associated with social-occupational <br>impairment, resiliency, and psychological symptoms among <br>Special Operations Forces (SOF) personnel.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", factorsforptsd_path %>
        </div>
      </div>
    </div>
  </div>  <div class="col-md-4">
    <div class="container">
    <h4>NCVS Collaborations</h4>
      <%= image_tag 'studies-11.jpg' %>
      <div class="overlay">
        <div class="text">The NCVS is actively engaged in collaborative research efforts <br>with various sites within the Department of Defense and the <br>Department of Veterans Affairs, and with other researchers <br>investigating military-related issues and topics.<br>
        <br>
        <%= link_to "CLICK HERE FOR MORE INFO", ncvscollaborations_path %>
        </div>
      </div>
    </div>
  </div>
</div>