<div class="app-card-container-header">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="inner cover">
          <h1 class="cover-heading pages-title">RESEARCH</h1>
          <button type="button" class="btn btn-outline-secondary btn-lg">Survey Button</button>
          <%= video_tag(
          'Cropped-Banner-Flag.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
          )
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-container">
  <h1 class="flex-item-3-header">Treatment & Assessment Studies</h1>
</div>

<div class="flex-container">
  <div class="flex-item-5">
    <%= image_tag "army-man-gm515593264-88565757.jpg", width: 400, alt: "Interventions", class: 'resource-img' %>
    <h4>Brief interventions for short-term suicide risk reduction in military populations</h4>
    <br>
    <p>In this randomized clinical trial, we will compare three commonly-used crisis interventions with active duty service members who present to an emergency mental health service reporting current suicidal ideation with intent to die. It is expected that enrollment for this study will begin in approximately one year.</p>
  </div>

  <div class="flex-item-5">
    <%= image_tag "medical-doctor-evaluates-veteran-during-appointment-gm607480382-104094811.jpg", width: 400, alt: "medical", class: 'resource-img' %>
    <h4>PRImary care Screening Methods (PRISM)</h4>
    <br>
    <p>In this study, we are testing the ability of a new suicide prevention screening instrument to predict future suicide attempts among military personnel, retirees, and family members seeking care from military primary care clinics. We are additionally seeking to quantify the proportion of individuals who are "missed" by existing screening methods. This study is currently underway.</p>
  </div>

  <div class="flex-item-5">
    <%= image_tag "depression-gm487842876-73707379.jpg", width: 400, alt: "MORE", class: 'resource-img' %>
    <h4>Mindfulness-Oriented Recovery Enhancement (MORE) to prevent opioid dependence in military personnel with chronic pain</h4>
    <br>
    <p>In this treatment study, we are comparing the effectiveness of Mindfulness-Oriented Recovery Enhancement (MORE) to supportive group counseling for the prevention of opioid and narcotic misuse and addiction among active duty Soldiers with chronic pain conditions. MORE is a group therapy shown to be effective for reducing chronic pain and opioid misuse in civilian patients. This study is currently underway.</p>
  </div>
</div>

<div class="flex-container">
  <h1 class="flex-item-3-header">Pre-clinical Studies</h1>
</div>

<div class="flex-container">
  <div class="flex-item-5">
    <%= image_tag "doctor-counselling-soldier-suffering-from-stress-gm177844709-23967063.jpg", width: 400, alt: "ESCAPE", class: 'resource-img' %>
    <h4>Evaluation of suicidality, cognitions, and pain experience (ESCAPE): Implications for CBT in military populations</h4>
    <br>
    <p>In this cross-sectional research study, we are investigating specific thought processes and cognitive styles associated with suicide risk among patients with chronic pain conditions.</p>
  </div>

  <div class="flex-item-5">
    <%= image_tag "soldier-kneeling-at-grave-gm173198761-20663404.jpg", width: 400, alt: "Military Clinical population", class: 'resource-img' %>
    <h4>Guilt, shame, and suicide risk in a military clinical population</h4>
    <br>
    <p>In this pilot cross-sectional research study, we will investigate the experience of shame, guilt, and trauma among active duty military personnel receiving mental health care at several military clinics, and determine the interrelationship of these variables with suicide risk.</p>
  </div>

  <div class="flex-item-5">
    <%= image_tag "waiting-for-medevac-bird-picture-id603151186.jpg", width: 400, alt: "Traumatic Brain Injuries", class: 'resource-img' %>
    <h4>Traumatic brain injuries and suicide risk in deployed service members</h4>
    <br>
    <p>In this study, we are seeking to understand factors associated with post-traumatic stress disorder, traumatic brain injury, and suicide risk among several clinical and nonclinical samples of military personnel deployed to Iraq during 2009.</p>
  </div>
</div>

<div class="flex-container">
  <h1 class="flex-item-3-header">Non-clinical Studies</h1>
</div>

<div class="flex-container">
  <div class="flex-item-5">
    <%= image_tag "us-service-member-with-young-wife-and-dog-gm529078589-54285208.jpg", width: 400, alt: "Couple Laboratory for Observational StudiEs", class: 'resource-img' %>
    <h4>The National Center for Veterans Studies and Couple Laboratory for Observational StudiEs (CLOSE)</h4>
    <br>
    <p>ISeeks participants to help us learn about links between risk for suicide and the ways that partners in committed relationships couples have conversations about their relationships and what they find meaningful in life.</p>
  </div>

  <div class="flex-item-5">
    <%= image_tag "american-soldier-with-books-gm451630473-30420768.jpg", width: 400, alt: "Predictors of academic success", class: 'resource-img' %>
    <h4>Predictors of academic success among college student veterans</h4>
    <br>
    <p>In this survey, we will assess veterans' experiences both on and off college and university campuses in order to identify factors that contribute to veteran success in school.</p>
  </div>

  <div class="flex-item-5">
    <%= image_tag "us-soldier-and-combat-helicopter-approaching-gm637754142-113927761.jpg", width: 400, alt: "nalyses of risk and protective factors", class: 'resource-img' %>
    <h4>Analyses of risk and protective factors for trauma-related events</h4>
    <br>
    <p>In this cross-sectional study, we are seeking to identify protective factors associated with a range of traumatic experiences among college students and active duty military personnel.</p>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item-5">
    <%= image_tag "two-soldiers-posing-on-camera-in-the-middle-east-gm157186552-2066643.jpg", width: 400, alt: "Special Operations Forces", class: 'resource-img' %>
    <h4>Risk and protective factors for PTSD and social-occupational impairment among Special Operations Forces (SOF) Personnel</h4>
    <br>
    <p>In this longitudinal surveillance study, we will prospectively investigate individual, social, operational, and environmental risk and protective factors associated with social-occupational impairment, resiliency, and psychological symptoms among Special Operations Forces (SOF) personnel.</p>
  </div>
  <div class="flex-item-5">
    <%= image_tag "ranger-in-the-mountains-gm619757918-108161843.jpg", width: 400, alt: "NCVS Collaborations", class: 'resource-img' %>
    <h4>NCVS Collaborations</h4>
    <br>
    <p>The NCVS is actively engaged in collaborative research efforts with various sites within the Department of Defense and the Department of Veterans Affairs, and with other researchers investigating military-related issues and topics.</p>
  </div>
</div>

