<% @title="TREATMENT" %>

<div class="row treatment-header">
  <div class="col-md-12">
    <h1 class="treatment-header"><span>Treatments provided by NCVS</span></h1>
  </div>
</div>

<div class="image-link-main">
  <div class="row">
    <div class="col-md-4 image-link-boxes">
      <%= image_tag "treatment1.png", alt: "veterans seeking help", class: 'image-link-boxes-img'%>
      <h1>POST TRAUMATIC STRESS DISORDER</h1>
    </div>
    <div class="col-md-4 image-link-boxes">
      <%= image_tag "treatment2.png", alt: "veterans seeking help", class: 'image-link-boxes-img' %>
      <h1>SUICIDAL THOUGHTS & BEHAVIOR</h1>
    </div>
    <div class="col-md-4 image-link-boxes">
      <%= image_tag "treatment4.png", alt: "health providers", class: 'image-link-boxes-img' %>
      <h1>CHRONIC PAIN</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 image-link-boxes">
      <%= image_tag "treatment5.png", alt: "health providers", class: 'image-link-boxes-img' %>
      <h1>INSOMNIA & NIGHTMARES</h1>
    </div>
    <div class="col-md-4 image-link-boxes">
      <%= image_tag "treatment5.png", alt: "health providers", class: 'image-link-boxes-img' %>
      <h1>DEPRESSION</h1>
    </div>
    <div class="col-md-4 image-link-boxes">
      <%= image_tag "treatment5.png", alt: "health providers", class: 'image-link-boxes-img' %>
      <h1>ANXIETY</h1>
    </div>
  </div>
</div>

<div class="resource-main">
  <div class="row resource-header">
    <div class="col-md-12">
      <h1 class="resource-header">Additional Resources:</h1>
    </div>
  </div>
  <div class="resource-boxes">
    <div class="row resources">
      <div class="col-sm-4">
        <h2 class="resource-box">Job Placement Assistance</h2>
          <%= image_tag "resource1.png", alt: "mental health", class: 'resources-img' %>
          <br>
          <br>
          <p><a href="http://www.lsiwins.com/jttap">Job Training, Technology and Placement</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="resource-box">Mental Health Treatment Locator</h2>
          <%= image_tag "resource2.png", alt: "mental health", class: 'resources-img' %>
          <br>
          <br>
          <p><a href="https://www.ptsd.va.gov/PTSD/public/treatment/therapy-med/va-ptsd-treatment-programs.asp">VA Posttraumatic Stress Disorder (PTSD) Programs</a></p>
          <p><a href="https://www.va.gov/directory/guide/SUD.asp">VA Substance Use Disorder (SUD) Programs</a></p>
          <p><a href="https://www.starproviders.org">Star Behavioral Health Providers</a></p>
      </div>
      <div class="col-sm-4">
         <h2 class="resource-box">Other Resources</h2>
            <%= image_tag "resource4.png", alt: "resources", class: 'resources-img' %>
          <br>
          <br>
          <p><a href="https://veterans.utah.edu/_documents/how-to-help.pdf">How to Help Military Families for Higher Education</u></p>
          <p><a href="https://www.mantherapy.org">ManTherapy.org</u></p>
          <p><a href="https://veteranscenter.utah.edu/">University of Utah Veterans Support Center</u></p>
      </div>
    </div>
  </div>
</div>

<div class="flex-container-2">
  <div class="flex-item-2">
    <h2>NCVS Books & Publications</h2>
    <h4>Books Authored/Edited by NCVS Staff</h4>
  </div>
</div>

<div class="flex-container-2">
  <a href="https://www.amazon.com/Cognitive-Behavioral-Therapy-Preventing-Attempts/dp/0415857171/ref=sr_1_1?ie=UTF8&qid=1432754315&sr=8-1&keywords=preventing+suicide+attempts">
  <div class="flex-item-2">
      <%= image_tag "Cognitive-Behavioral-Therapy.jpg", alt: "Cognitive-Behavioral-Therapy" %>
      <br>
      <br>
      <p>Cognitive Behavioral Therapy for Preventing Suicide Attempts: A Guide to Brief Treatments Across Clinical Settings (Clinical Topics in Psychology and Psychiatry)</p>
  </div>
  </a>
  <a href="https://www.amazon.com/Assessment-Management-Suicidality-Practitioners-Resource/dp/1568871058/ref=sr_1_1?s=books&ie=UTF8&qid=1337283038&sr=1-1">
  <div class="flex-item-2">
      <%= image_tag "The-Assessment-And-Management-of-Suicidality.jpg", alt: "The-Assessment-And-Management-of-Suicidality" %>
      <br>
      <br>
      <p>The Assessment And Management of Suicidality (Practitioner's Resource)</p>
  </div>
  </a>
  <a href="https://www.amazon.com/Managing-Suicide-Risk-Primary-Care/dp/0826110711">
  <div class="flex-item-2">
    <%= image_tag "Managing-Suicide-Risk-in-Primary-Care.jpg",  alt: "Managing-Suicide-Risk-in-Primary-Care" %>
    <br>
    <br>
    <p>Managing Suicide Risk in Primary Care</p>
  </div>
  </a>
  <a href="https://www.amazon.com/Suicide-Science-Boundaries-Thomas-Joiner/dp/1441949801/ref=sr_1_6?s=books&ie=UTF8&qid=1337283038&sr=1-6">
  <div class="flex-item-2">
    <%= image_tag "Suicide-Science-Expanding-the-Boundaries.jpg", alt: "Suicide-Science-Expanding-the-Boundaries" %>
    <br>
    <br>
    <p>Suicide Science: Expanding the Boundaries</p>
  </div>
  </a>
  <a href="https://www.amazon.com/Treating-Suicidal-Behavior-Time-Limited-Practitioners/dp/1593851006/ref=sr_1_3?s=books&ie=UTF8&qid=1337283038&sr=1-3">
  <div class="flex-item-2">
    <%= image_tag "Treating-Suicidal-Behavior.jpg", alt: "Treating-Suicidal-Behavior" %>
    <br>
    <br>
    <p>Treating Suicidal Behavior: An Effective, Time-Limited Approach (Treatment Manuals for Practitioners)</p>
  </div>
  </a>
</div>